header {
	width: 100%;
	position: relative;
	z-index: 1;
	margin-bottom: 3rem;

	display: flex;
	justify-content: center;
}

header::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	background-image: linear-gradient(90deg, rgb(39,82,171) 0%, rgb(105,72,199) 31%, rgb(135, 107, 209) 65%, rgb(177, 135, 219) 100%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
	z-index: -1;
}

.about-me-cont {
	position: relative;
}

.header-wrapper {
	margin: 3rem 3rem 0 3rem;
	max-width: 1000px;
	display: flex;
}

.main-pic-cont > img {
	float: left;
	max-width: 300px;
	margin-right: 2rem;
	box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.19);
}

.main-pic-cont > span {
	font-family: PlayfairDisplay, "Times New Roman", Times, serif;
	font-size: 1.9rem;
	letter-spacing: 0.8px;
	color: white;
	position: absolute;
	bottom: 10px;
	left: 1rem;
}

.main-text-wrapper {
	margin-top: 3rem;
	margin-left: 4rem;
	padding: 2rem;
	background-color: white;
	line-height: 150%;
	box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.19);
}

.main-text-wrapper > h1 {
	margin: 0;
}

.main-text-wrapper > p {
	margin: 1.5rem 0;
}

.about-me-icons {
	margin-top: 0.5rem;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 12px;
}

.about-me-icons > a,
.about-me-icons > img,
.icon-cont > img {
	cursor: pointer;
}