main {
	width: 100%;
	display: flex;
	justify-content: center;
}

.my-work {
	width: 100%;
	max-width: 1000px;
	margin: 0 3rem 5rem 3rem;
}

.my-work > h2 {
	font-size: 2rem;
}

.projects {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: 2, 1fr;
	grid-auto-rows: 1fr;
	gap: 2rem;
}

.proj-cont {
	background-color: white;
	box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.19);
	transition: transform 0.3s, background-color 0.5s;
}

.proj-cont:hover {
	transform: scale(1.03);
	cursor: pointer;
	background-color: rgb(252, 247, 255);
}

.proj-cont picture > img {
	width: 100%;
}

.proj-info {
	margin: 0.5rem 1rem;
}

.proj-name-cont {
	display: flex;
	align-items: center;
}

.proj-name {
	margin: 0;
	padding: 0;
	flex: 1;
}

.proj-name-cont > img {
	margin-left: 10px;
	cursor: pointer;
}